<div class="font-['Raleway'] mt-8 mx-2 lg:grid grid-cols-12 gap-2 h-80">
    <div class="hidden lg:block col-start-1 col-span-2"> 
        <div *ngFor="let image of product.imageSrc" class="aspect-h-2 pb-2 aspect-w-3 overflow-hidden rounded-lg">
        <img src={{image.img}} alt={{product.imageAlt}} class="h-full w-full object-cover object-center">
      </div>
    </div>
    <div class="col-start-3 col-span-6"> 
        <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg">
        <img style="height: 600px !important;" src={{product.imageSrc[0].img}} alt={{product.imageAlt}} class="object-cover object-center">
      </div>
    </div>
    <div class="col-start-9 col-span-5">   <!-- Product info -->
        <div class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6  lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-4">
          <div class="lg:col-span-2 lg:pr-8">
            <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">{{product.name}}</h1>
          </div>
    
          <!-- Options -->
          <div class="mt-4 lg:row-span-3 lg:mt-0">
            <h2 class="sr-only">Product information</h2>
      <div class="mt-10">
        <p class=" font-sans font-bold text-sm tracking-tight text-gray-900">SIZE:</p>
        <div class="flex tracking-tight text-gray-900">
            <div class="border border-black mx-2 justify-center px-5 py-3">XS</div>
            <div class="border border-black mx-2 justify-center px-5 py-3 text-white bg-black">S</div>
            <div class="border border-black mx-2 justify-center px-5 py-3">M</div>
            <div class="border border-black mx-2 justify-center px-5 py-3">L</div>
        </div>
      </div>

      <div class="mt-10">
        <p class=" font-sans font-bold text-sm tracking-tight text-gray-900">COLOR:</p>
        <div class="flex tracking-tight text-gray-900">
            <div class="border border-[#0F6450] mx-2 justify-center px-3 py-3 bg-[#D3D2D5] "></div>
            <div class="border border-black mx-2 justify-center px-3 py-3 text-white bg-black"></div>
            <div class="mx-2 bg-[#0F6450] justify-center px-3 py-3"></div>
            
        </div>
      </div>

      <div class="mt-10">
        <p class=" font-sans font-bold text-sm tracking-tight text-gray-900">PRICE:</p>
        <p class="flex tracking-tight text-gray-900 text-2xl font-black">$ {{product.price}} </p>
      </div>

      <div class="mt-10">
        
        <button (click)="AddToCart(product)" class="flex tracking-tight text-white justify-center text-sm font-bold  py-4 bg-[#5ECE7B] w-full lg:w-[75%]  font-black">ADD TO CART</button>
      </div>

      <div class="mt-10">
        <p class="text-justify flex  w-full lg:w-[75%]">Find stunning women's cocktail dresses and party dresses. Stand out in lace and metallic cocktail dresses and party dresses from all your favorite brands.</p>
          </div>
    
  
        </div>
</div>
