.categoty-heading {
    margin-top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    /* identical to box height, or 67px */

    display: flex;
    align-items: center;

    /* --c-text */

    color: #000;
}