<nav>
  <!-- <div id="overlay"></div> -->

  <!-- <div class="link-group"> -->
  <a class="link" routerLink="/">Women</a>
  <a class="link" routerLink="/men">Men</a>
  <a class="link" routerLink="/kids">Kids</a>
  <!-- </div> -->
  <div class="topnav-centered">
    <img src="../../assets/images/green-logo.svg" alt="" />
  </div>
  <div class="mr-10 topnav-right">
    <div class="dropdown mr-4">
      <button
        class="dropbtn inline-flex w-full justify-center gap-x-1.5 bg-white px-3 text-sm text-gray-900"
      >
        {{ selectedCurrency[0].symbol }}
        <svg
          class="-mr-1 h-5 w-5 text-gray-400"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
            clip-rule="evenodd"
          />
        </svg>
      </button>

      <div class="dropdown-content">
        <span
          role="button"
          (click)="swapCurrency(currency)"
          *ngFor="let currency of currencies"
          >{{ currency.symbol }} {{ currency.name }}</span
        >
      </div>
    </div>

    <button class="z-[200] relative cart-dropdown">
      <shopping-cart-outline-icon
        class="text-black .dropbtn"
      ></shopping-cart-outline-icon>
      <span
        class="absolute badge -top-1 left-4 rounded-[50%] text-sm flex items-center justify-center text-white bg-black px-2 py-2 font-black h-3 w-3"
        ><span style="font-size: x-small; font-weight: bold !important">{{
          CartCount
        }}</span></span
      >
      <div class="cart-dropdown-content">
        <div class="pointer-events-auto w-90 max-w-md">
          <div
            class="flex h-[80vh] w-[350px] flex-col overflow-y-scroll bg-white shadow-xl"
          >
            <ng-container *ngIf="cartItems.length > 0; else emptyCart">
              <h2
                class="text-lg font-medium text-gray-900 font-[Raleway] mt-2"
                id="slide-over-title"
              >
                <span class="font-black">My Bag, </span>
                {{ CartCount > 1 ? CartCount + " items" : CartCount + " item" }}
              </h2>

              <div
                *ngFor="let item of cartItems"
                class="flex-1 px-4 py-6 sm:px-6"
              >
                <div class="flex items-start justify-between">
                  <div class="ml-3 flex h-7 items-center md:hidden">
                    <button
                      type="button"
                      class="-m-2 p-2 text-gray-400 hover:text-gray-500"
                    >
                      <span class="sr-only">Close panel</span>
                      <svg
                        class="h-6 w-6"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M6 18L18 6M6 6l12 12"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
                <!-- Shopping on hover on desktop and click on mobile -->
                <div class="mt-8 font-[Raleway]">
                  <div class="flow-root">
                    <ul role="list" class="-my-6">
                      <!-- ------product starts---- -->
                      <li class="flex py-6 h-[190px]">
                        <div class="mr-4 flex flex-1 flex-col">
                          <div class="flex text-base font-medium text-gray-900">
                            <h3>
                              <span (click)="showDetails(item)" role="button">{{
                                item.name
                              }}</span>
                            </h3>
                          </div>

                          <p class="font-black text-left">
                            {{ selectedCurrency[0].symbol }} {{ item.price }}
                          </p>
                          <div class="flex flex-col">
                            <p class="text-left font-black">Size:</p>
                            <div class="flex tracking-tight text-gray-900">
                              <div
                                class="border border-black mx-2 justify-center px-2 py-1 text-[10px]"
                              >
                                XS
                              </div>
                              <div
                                class="border border-black mx-2 justify-center px-2 py-1 text-[10px] text-white bg-black"
                              >
                                S
                              </div>
                              <div
                                class="border border-black mx-2 justify-center px-2 py-1 text-[10px]"
                              >
                                M
                              </div>
                              <div
                                class="border border-black mx-2 justify-center px-2 py-1 text-[10px]"
                              >
                                L
                              </div>
                            </div>
                          </div>

                          <div class="flex flex-col mt-1">
                            <p class="text-left font-black">Color:</p>
                            <div class="flex tracking-tight text-gray-900">
                              <div
                                class="border border-[#0F6450] mx-2 justify-center px-2 py-2 bg-[#D3D2D5]"
                              ></div>
                              <div
                                class="border border-black mx-2 justify-center px-2 py-2 text-white bg-black"
                              ></div>
                              <div
                                class="mx-2 bg-[#0F6450] justify-center px-2 py-2"
                              ></div>
                            </div>
                          </div>
                        </div>
                        <div class="mr-1 flex flex-col justify-between">
                          <div
                            (click)="AddToCart(item)"
                            class="border border-black"
                          >
                            <plus-small-outline-icon></plus-small-outline-icon>
                          </div>
                          <div>{{ item.quantity }}</div>
                          <div
                            (click)="RemoveFromCart(item)"
                            class="border border-black"
                          >
                            <minus-small-outline-icon></minus-small-outline-icon>
                          </div>
                        </div>
                        <div
                          (click)="showDetails(item)"
                          class="w-24 flex-shrink-0 overflow-hidden rounded-md"
                        >
                          <img
                            src="{{ item.imageSrc[0].img }}"
                            alt="{{ item.imageAlt }}"
                            class="h-full w-full object-cover object-center"
                          />
                        </div>
                      </li>
                      <!-- -----Products End ----- -->
                    </ul>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-template #emptyCart>
              <p>Your Cart is Empty!</p>
            </ng-template>

            <div class="px-4 py-6 sm:px-6 font-[Raleway]">
              <div
                class="flex justify-between text-base font-medium text-gray-900"
              >
                <p>Total</p>
                <p>{{ selectedCurrency[0].symbol }} {{ CartTotal }}</p>
              </div>
              <!-- <div *ngFor="let item of cartItems">{{item.price}}</div> -->
              <div class="mt-6 flex justify-between">
                <a
                  routerLink="/cart"
                  class="flex items-center justify-center rounded-md bg-white px-5 py-3 font-medium text-black text-sm shadow-sm border border-black hover:bg-[#5ECE7B] hover:text-white hover:border-none"
                  >VIEW BAG</a
                >
                <button
                  (click)="this.payWithPaystack()"
                  class="flex items-center justify-center rounded-md border border-transparent bg-[#5ECE7B] px-5 py-3 text-base font-medium text-white shadow-sm hover:bg-white hover:text-black hover:border-black"
                >
                  CHECK OUT
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </button>
  </div>
</nav>
